<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}" th:with="link=@{/cliente/home}">
	  																  
		<div layout:fragment="content">
			<form method="get" th:object="${searchFilter}" th:action="@{/cliente/search}" id="form">

				<input type="hidden" id="searchType" th:field="*{searchType}">
				<input type="hidden" id="categoriaId" th:field="*{categoriaId}">
				<div>
					<h1>É hora de rangar!</h1>

						<!--Pesquisa feita pela caixa de texto;
						A função searchRest() vai receber o valor null,
						fazendo com que o enum searchType receba o valor TEXTO no backend-->
						<fieldset>			
							<input type="text" th:field="*{texto}" placeholder="Buscar por...">
							<input type="button" value="Procurar" onclick="searchRest(null);">
						</fieldset>
					
					<br>
				</div>
				
				<div id="divCategoriasComidaGeral">
					<div id="divCategoriasComidaOpcao" th:each="categoria : ${categorias}">
						<a href="#">
						<img th:src="@{/images/categorias/} + ${categoria.imagem}" id="imgCategoriaComida"><br>
						<span th:text="${categoria.nome}"></span>
						</a>
					</div>	
				</div>

			</form>
			
			<div>
				<h1>Últimos pedidos</h1>
				<input type="button" value="#15124 McBlunalds" onClick="location.href='clientePedido.html';"><br>
				<input type="button" value="#35464 Blue Pizza" onClick="location.href='clientePedido.html';"><br>
				<input type="button" value="#38754 Hard Blue" onClick="location.href='clientePedido.html';"><br>
			</div>
			
			<div>
				<h1>Conta</h1>
				<input type="button" value="Meus dados" th:onClick="'location.href=\'' + @{/cliente/edit} + '\';'">
				<input type="button" value="Sair" th:onClick="'location.href=\'' + @{/logout} + '\';'">
			</div>
		</div>
	</body>
</html>

